.flag
  height: 100vh
  min-height: 100%
  padding-left: 25px
  padding-right: 25px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-image: url('../assets/body-bg.jpg')
  background-color: $tulsa-gray
  h1
    margin: 0 auto
    line-height: .75
    color: $tulsa-yellow
  .work-btn
    border-color: $tulsa-yellow
