footer
  height: 50vh
  display: flex
  .half
    width: 50%
    display: flex
    justify-content: center
    align-items: center
  .left
    background-image: url(../assets/main-bg.jpg)
    background-size: cover
