.hello
  min-height: 100vh
  padding-left: 25px
  padding-right: 25px
  background-image: url(../assets/main-bg.jpg)
  background-size: cover
  background-position: center
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  .h1
    margin: 0 auto
    font-size: 56px
    +desktop()
      font-size: 100px

  p
    margin: 25px auto
    +desktop()
      font-size: 26px
      width: 22%
  p:nth-of-type(2)
    color: $cyan
    margin-top: 0
    +desktop()
      font-size: 18px
