.hello
  min-height: 100vh
  padding-left: 25px
  padding-right: 25px
  display: flex
  flex-direction: column
  justify-content: center
  background-color: $hilti-gray
  background-image: url(../assets/main-bg.jpg)
  background-size: cover
  background-position: center
  .content-wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    +desktop()
        text-align: left
        align-items: center
        flex-direction: row
        padding-left: 120px

    .text-wrapper
      width: 100%
      +desktop()
        width: 40%
        display: flex
        flex-direction: column
      .work-btn
        display: inline-block
    .img-wrapper
      display: flex
      flex-direction: column
      align-items: center
      flex-wrap: wrap
      justify-content: center
      width: 50%
      margin-left: 5%
      +mobile()
        display: none
      +tablet()
        display: flex
        justify-content: space-around
        width: 100%
        margin-left: 0
      h3
        margin-right: auto
      .row
        width: 70%
        margin: 25px 25px
        display: flex
        justify-content: space-around
        img
          min-width: 75px
          max-height: 75px
          +laptop()
            margin-left: 15px
    .h1
      margin: 0 auto
      line-height: .75
      color: $cyan
      +desktop()
        margin-left: 0
      +mobile()
        font-size: 56px
    .work-btn
      border-color: $cyan
      margin: 0

    p
      margin: 25px auto
      +mobile()
        width: 100%
        margin-bottom: 0
        font-size: 16px
      span
        color: $cyan
      .second
        color: white
        +mobile()
          display: none
    .button-containers
      width: 500px
      +mobile()
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
      div
        margin-right: 25px
        +mobile()
          margin: 15px 0
