@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat|Roboto+Condensed");
* {
  transition: ease-in-out .2s; }

.uppercase {
  text-transform: uppercase; }

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #072836; }
  @media screen and (min-width: 951px) {
    header {
      flex-direction: column;
      width: 120px;
      height: 100%;
      top: 0; } }
  header .main-nav, header .contact {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #072836;
    transform: translateY(-100%);
    transition: transform 0.6s ease; }
    @media screen and (min-width: 951px) {
      header .main-nav, header .contact {
        transform: translateX(-100%); } }
    header .main-nav ul, header .contact ul {
      font-size: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0; }
      header .main-nav ul li, header .contact ul li {
        padding: 10px;
        width: 100%;
        font-family: "ff-good-headline-web-pro-con";
        font-weight: 800;
        letter-spacing: 2px; }
        header .main-nav ul li:hover, header .contact ul li:hover {
          color: #66fcf1; }
  header .contact {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media screen and (min-width: 951px) {
      header .contact {
        justify-content: center; } }
    header .contact .contact-left {
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 50px !important; }
      @media screen and (min-width: 951px) {
        header .contact .contact-left {
          margin-right: 75px; } }
    header .contact .contact-right {
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
  header .main-nav.open {
    transform: translateY(0); }
    @media screen and (min-width: 951px) {
      header .main-nav.open {
        transform: translateX(0); } }
  header .contact.open {
    transform: translateY(0); }
  header img {
    width: 75px;
    font-weight: lighter;
    z-index: 3;
    font-family: 'BTC', sans-serif;
    line-height: 0;
    margin: 10px 0; }
    @media screen and (min-width: 951px) {
      header img {
        width: 90px;
        margin: 0; } }
  header .writing {
    z-index: 3; }
  header .fa {
    color: #66fcf1;
    font-size: 26px;
    cursor: pointer;
    z-index: 2; }
    @media screen and (min-width: 951px) {
      header .fa {
        font-size: 46px; } }
  header .fa-envelope {
    font-size: 22px; }
    @media screen and (min-width: 951px) {
      header .fa-envelope {
        font-size: 46px; } }
  header .fa-mobile {
    font-size: 42px; }

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: url("assets/loader.gif") center no-repeat #072836; }

.about {
  min-height: 100vh;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  background-image: url(../assets/main-bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .about h1 {
    margin: 0 auto;
    font-size: 100px; }
  .about p {
    margin: 25px auto; }

.copy {
  margin: 25px auto;
  font-size: 18px;
  line-height: 1.5; }

ul {
  list-style: none; }

.spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  z-index: 100000;
  overflow: auto; }

.hello {
  min-height: 100vh;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #c9cfd3;
  background-image: url(../assets/main-bg.jpg);
  background-size: cover;
  background-position: center; }
  @media screen and (max-width: 950px) {
    .hello {
      height: 100% !important;
      padding-top: 90px;
      padding-bottom: 45px; } }
  .hello .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 951px) {
      .hello .content-wrapper {
        text-align: left;
        align-items: center;
        flex-direction: row;
        padding-left: 120px; } }
    .hello .content-wrapper .text-wrapper {
      width: 100%; }
      @media screen and (min-width: 951px) {
        .hello .content-wrapper .text-wrapper {
          width: 40%;
          display: flex;
          flex-direction: column; } }
      .hello .content-wrapper .text-wrapper .work-btn {
        display: inline-block; }
    .hello .content-wrapper .img-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      width: 50%;
      margin-left: 5%; }
      @media screen and (max-width: 950px) {
        .hello .content-wrapper .img-wrapper {
          margin-left: 0;
          width: 100%; } }
      @media screen and (max-width: 951px) and (min-width: 550px) {
        .hello .content-wrapper .img-wrapper {
          display: flex;
          justify-content: space-around;
          margin-left: 0; } }
      .hello .content-wrapper .img-wrapper h3 {
        margin-right: auto; }
      .hello .content-wrapper .img-wrapper .row {
        width: 70%;
        display: flex;
        justify-content: space-around; }
        @media screen and (max-width: 950px) {
          .hello .content-wrapper .img-wrapper .row {
            margin: 0; } }
        .hello .content-wrapper .img-wrapper .row img {
          min-width: 75px;
          max-height: 75px;
          margin: 15px; }
          @media screen and (max-width: 950px) {
            .hello .content-wrapper .img-wrapper .row img {
              min-width: 40px;
              max-height: 40px; } }
          @media screen and (min-width: 951px) and (max-width: 1412px) {
            .hello .content-wrapper .img-wrapper .row img {
              margin-left: 15px; } }
    .hello .content-wrapper .h1 {
      margin: 0 auto;
      line-height: .75;
      color: #66fcf1; }
      @media screen and (min-width: 951px) {
        .hello .content-wrapper .h1 {
          margin-left: 0; } }
      @media screen and (max-width: 950px) {
        .hello .content-wrapper .h1 {
          font-size: 56px; } }
    .hello .content-wrapper .work-btn {
      border-color: #66fcf1;
      margin: 0; }
    .hello .content-wrapper p {
      margin: 25px auto; }
      @media screen and (max-width: 950px) {
        .hello .content-wrapper p {
          width: 100%;
          margin-bottom: 0;
          font-size: 16px; } }
      .hello .content-wrapper p span {
        color: #66fcf1; }
      .hello .content-wrapper p .second {
        color: white; }
        @media screen and (max-width: 950px) {
          .hello .content-wrapper p .second {
            display: none; } }
    .hello .content-wrapper .button-containers {
      width: 500px; }
      @media screen and (max-width: 950px) {
        .hello .content-wrapper .button-containers {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center; } }
      .hello .content-wrapper .button-containers div {
        margin-right: 25px; }
        @media screen and (max-width: 950px) {
          .hello .content-wrapper .button-containers div {
            margin: 15px 0; } }

.gitwit {
  padding-left: 25px;
  padding-right: 25px;
  background-color: #c9cfd3;
  background-image: url("assets/gitwit-bg.jpg");
  background-size: cover;
  background-position: center; }
  .gitwit .content-wrapper {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 951px) {
      .gitwit .content-wrapper {
        text-align: left;
        align-items: center;
        flex-direction: row; } }
    @media screen and (min-width: 951px) {
      .gitwit .content-wrapper .text-wrapper {
        width: 40%;
        display: flex;
        flex-direction: column; } }
    .gitwit .content-wrapper .text-wrapper .work-btn {
      display: inline-block; }
    .gitwit .content-wrapper .img-wrapper {
      width: 50%;
      margin-left: 5%; }
      @media screen and (max-width: 950px) {
        .gitwit .content-wrapper .img-wrapper {
          display: none; } }
      .gitwit .content-wrapper .img-wrapper video {
        width: 100%; }
    .gitwit .content-wrapper .h1 {
      margin: 0 auto;
      line-height: .75;
      color: #79eb69; }
      @media screen and (min-width: 951px) {
        .gitwit .content-wrapper .h1 {
          margin-left: 0; } }
    .gitwit .content-wrapper .work-btn {
      border-color: #79eb69;
      margin: 0; }
    .gitwit .content-wrapper p {
      margin: 25px auto; }

.flag {
  padding-left: 25px;
  padding-right: 25px;
  background-image: url("../assets/body-bg.jpg");
  background-color: #e6e6e6; }
  .flag .content-wrapper {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 951px) {
      .flag .content-wrapper {
        text-align: left;
        align-items: center;
        flex-direction: row; } }
    @media screen and (min-width: 951px) {
      .flag .content-wrapper .text-wrapper {
        width: 40%;
        display: flex;
        flex-direction: column; } }
    .flag .content-wrapper .img-wrapper {
      width: 50%;
      margin-left: 5%; }
      @media screen and (max-width: 950px) {
        .flag .content-wrapper .img-wrapper {
          display: none; } }
      .flag .content-wrapper .img-wrapper video {
        width: 100%; }
  .flag .h1 {
    margin: 0 auto;
    line-height: .75;
    color: #ffcc00; }
    @media screen and (min-width: 951px) {
      .flag .h1 {
        margin-left: 0; } }
  .flag .work-btn {
    border-color: #ffcc00;
    display: inline-block; }

.hilti {
  padding-left: 25px;
  padding-right: 25px;
  background-color: #c9cfd3;
  background-image: url("assets/hilti-bg.jpg");
  background-size: cover;
  background-position: center; }
  .hilti .content-wrapper {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 951px) {
      .hilti .content-wrapper {
        text-align: left;
        align-items: center;
        flex-direction: row; } }
    @media screen and (min-width: 951px) {
      .hilti .content-wrapper .text-wrapper {
        width: 40%;
        display: flex;
        flex-direction: column; } }
    .hilti .content-wrapper .text-wrapper .work-btn {
      display: inline-block; }
    .hilti .content-wrapper .img-wrapper {
      width: 50%;
      margin-left: 5%; }
      @media screen and (max-width: 950px) {
        .hilti .content-wrapper .img-wrapper {
          display: none; } }
      .hilti .content-wrapper .img-wrapper video {
        width: 100%; }
    .hilti .content-wrapper .h1 {
      margin: 0 auto;
      line-height: .75;
      color: #df001b; }
      @media screen and (min-width: 951px) {
        .hilti .content-wrapper .h1 {
          margin-left: 0; } }
    .hilti .content-wrapper .work-btn {
      border-color: #df001b;
      margin: 0; }
    .hilti .content-wrapper p {
      margin: 25px auto; }

.wausau {
  padding-left: 25px;
  padding-right: 25px;
  background-color: #c9cfd3;
  background-image: url("assets/wausau-bg.jpg");
  background-size: cover;
  background-position: left; }
  .wausau .content-wrapper {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 951px) {
      .wausau .content-wrapper {
        text-align: left;
        align-items: center;
        flex-direction: row; } }
    @media screen and (min-width: 951px) {
      .wausau .content-wrapper .text-wrapper {
        width: 40%;
        display: flex;
        flex-direction: column; } }
    .wausau .content-wrapper .img-wrapper {
      width: 50%;
      margin-left: 5%; }
      @media screen and (max-width: 950px) {
        .wausau .content-wrapper .img-wrapper {
          display: none; } }
      .wausau .content-wrapper .img-wrapper video {
        width: 100%; }
  .wausau .h1 {
    margin: 0 auto;
    line-height: .75;
    color: #a80432; }
    @media screen and (min-width: 951px) {
      .wausau .h1 {
        margin-left: 0; } }
  .wausau .work-btn {
    border-color: #a80432;
    margin: 0;
    display: inline-block; }
  .wausau p {
    margin: 25px auto; }

footer {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url(../assets/main-bg.jpg);
  background-size: cover;
  padding-left: 25px;
  padding-right: 25px; }
  @media screen and (max-width: 950px) {
    footer {
      flex-direction: column;
      height: 100%; } }
  footer h3 {
    font-size: 32px;
    font-weight: lighter; }
    @media screen and (max-width: 950px) {
      footer h3 {
        font-size: 24px; } }
    footer h3 span {
      color: #66fcf1;
      font-weight: bold; }
  footer .contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 550px; }
    @media screen and (max-width: 950px) {
      footer .contact-container {
        flex-direction: column;
        width: 100%; } }
    footer .contact-container a {
      font-size: 22px;
      margin: 15px auto; }
      @media screen and (max-width: 950px) {
        footer .contact-container a {
          font-size: 20px; } }
      footer .contact-container a i {
        font-size: 32px;
        margin-right: 15px; }

@font-face {
  font-family: 'BTC';
  src: url("assets/brushtip-C TRIAL/BTCTRIAL.ttf"); }

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #072836;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box; }

.h1 {
  color: #66fcf1;
  font-family: "ff-good-headline-web-pro-con", sans-serif;
  font-size: 80px;
  line-height: 1; }

a {
  text-decoration: none;
  color: inherit; }

.work-btn {
  border: 2px solid #66fcf1;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px; }

.work-btn:nth-of-type(1) {
  margin-bottom: 25px; }

h5 {
  margin: 0;
  margin-bottom: 25px; }

@media screen and (min-width: 951px) {
  .content-wrapper {
    padding-left: 120px; } }
