@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat|Roboto+Condensed");
.uppercase {
  text-transform: uppercase; }

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #072836; }
  header .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #072836;
    transform: translateY(-100%);
    transition: transform 0.6s ease; }
    header .main-nav ul {
      font-size: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%; }
      header .main-nav ul li {
        padding: 15px;
        width: 100%; }
  header .main-nav.open {
    transform: translateY(0); }
    header .main-nav.open ul {
      padding: 0; }
  header h2 {
    font-size: 20px;
    font-weight: lighter;
    z-index: 2; }
  header .fa {
    color: #66fcf1;
    font-size: 26px;
    cursor: pointer;
    z-index: 2; }

.copy {
  margin: 25px auto;
  font-size: 18px;
  line-height: 1.5; }

ul {
  list-style: none; }

.hello {
  min-height: 100vh;
  padding-left: 25px;
  padding-right: 25px;
  background-image: url(../assets/main-bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hello h1 {
    margin: 0 auto;
    font-size: 100px; }
  .hello p {
    margin: 25px auto; }

.flag {
  height: 100vh;
  min-height: 100%;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/body-bg.jpg");
  background-color: #e6e6e6; }
  .flag h1 {
    margin: 0 auto;
    line-height: .75;
    color: #ffcc00; }
  .flag .work-btn {
    border-color: #ffcc00; }

.hilti {
  min-height: 100vh;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c9cfd3;
  background-image: url("assets/hilti-bg.jpg");
  background-size: cover;
  background-position: center; }
  .hilti h1 {
    margin: 0 auto;
    line-height: .75;
    color: #df001b; }
  .hilti .work-btn {
    border-color: #df001b;
    margin: 0; }
  .hilti p {
    margin: 25px auto; }

.wausau {
  min-height: 100vh;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c9cfd3;
  background-image: url("assets/wausau-bg.jpg");
  background-size: cover;
  background-position: left; }
  .wausau h1 {
    margin: 0 auto;
    line-height: .75;
    color: #a80432; }
  .wausau .work-btn {
    border-color: #a80432;
    margin: 0; }
  .wausau p {
    margin: 25px auto; }

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #072836;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center; }
  @media screen and (min-width: 1413px) {
    body {
      display: none; } }

h1 {
  color: #66fcf1;
  font-family: "ff-good-headline-web-pro-con";
  font-size: 80px; }

a {
  text-decoration: none;
  color: inherit; }

.work-btn {
  border: 2px solid #66fcf1;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px; }
