.about {
  position: relative;
  margin-bottom: -150px;
  padding-top: 150px;
  z-index: 5000;
  // background-image: url('../assets/textures/stardust.png');
  .title-image {
    top: -125px;
    left: -50px;
  }
  p {
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
  }
  .horizontal-line,
  .vertical-line {
    height: 4px;
    background-color: rgba($color: $pink, $alpha: 0.5);
    animation: moveDown 4s linear infinite;
    margin-bottom: 128px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  @keyframes moveDown {
    20%,
    100% {
      transform: translate(0, 750px);
      opacity: 0;
    }
  }
}
