.about {
  position: relative;
  margin-bottom: -150px;
  padding-top: 150px;
  z-index: 5000;
  @include mobile() {
    padding-top: 25px;
    padding-bottom: 75px;
    font-size: .75rem;
  }
  .title-image {
    top: -100px;
    left: -50px;
    @include mobile() {
      top: 0;
      left: 0;
    }
  }
  p {
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
  }
  .content-wrapper {
    width: 90%;
  }
}
