.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 75px 0;
  @include laptop() {
    margin-top: 0;
    
  }
  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    border: 7px solid rgba($color: grey, $alpha: 0.5);
    padding: 50px 0;
    @include mobile() {
      width: 90%;
    }
    h2 {
      font-size: 36px;
      letter-spacing: 5px;
      @include mobile() {
        font-size: 26px;
      }
    }
  }
}
.contact-modal {
  .contact-form {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    border: 2px solid $pink;
    width: 500px;
    height: 600px;
    padding: 25px;
    background-color: black;
    @include mobile() {
      width: 90%;
    }
    label {
      color: white;
      font-weight: bold;
      margin-bottom: 5px;
    }
    input,
    textarea {
      background-color: rgba($color: #000000, $alpha: 0);
      border: 2px solid rgba($color: $pink, $alpha: 0.5);
      color: white;
      font-weight: 600;
      font-size: 16px;
      box-shadow: $pink-shadow;
      resize: none;
      width: 100%;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
      &:focus {
        border: 2px solid rgba($color: $pink, $alpha: 1);
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
      }
    }
    textarea {
      height: 200px;
    }
    input {
      margin-bottom: 25px;
      padding-top: 15px;
      padding-bottom: 5px;
    }
    button {
      background-color: transparent;
    }
    .close-button {
      color: $pink;
      background-color: black;
      position: absolute;
      top: -20px;
      right: -20px;
      height: 40px;
      width: 40px;
      cursor: pointer;
    }
  }
}
.contact-modal-container {
  z-index: 999999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.9);
  display: hidden;
  opacity: 0;
}
