.footer {
  min-height: 300px;
  background-image: url('../assets/images/footer-image.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  @include mobile() {
    min-height: 300px;
    padding: 25px;
    font-size: 12px;
  }
  
  #pink-box {
    position: absolute;
    top: -30px;
    width: 60px;
    height: 60px;
    background-color: $pink;
    cursor: pointer;
    @include mobile() {
      width: 40px;
      height: 40px;
      top: -20px;
    }
    &:after {
      content: '';
      height: 30px;
      width: 30px;
      top: 23px;
      left: 13px;
      position: absolute;
      transform: rotate(45deg);
      border-left: 3px solid white;
      border-top: 3px solid white;
      @include mobile() {
        height: 20px;
        width: 20px;
        top: 15px;
        left: 9px;
      }
    }
  }
  .contact-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    @include mobile() {
      font-size: 16px;
    }
    a {
      color: white;
    }
    .icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 25px;
      @include mobile() {
        width: 100%;
      }
      svg {
        color: white;
        margin-right: 15px;
        font-size: 22px;
      }
    }
  }
}
