.logo {
  max-width: 60px;
  margin-top: 25px;
  cursor: pointer;
}
.sun {
  border-radius: 100%;
  transition: ease-in-out 0.5s;
  &:hover {
    box-shadow: 0 0 45px rgba($color: #ef5a29, $alpha: 1);
    transition: ease-in-out 0.5s;
  }
  &.is-open {
    margin-right: 500px;
    transition: ease-in-out 0.25s;
  }
}
.menu {
  position: fixed;
  width: 90px;
  height: 100vh;
  z-index: 1000000;
  background-color: rgba($color: black, $alpha: 0.5);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  // -webkit-box-shadow: -9px 0px 45px 0px rgba($pink, 0.75);
  // -moz-box-shadow: -9px 0px 45px 0px rgba($pink, 0.75);
  // box-shadow: -9px 0px 45px 0px rgba($pink, 0.75);

  .links {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 25vh;
    margin: auto 0;
    cursor: pointer;
    div {
      transform: rotate(-90deg);
    }
  }
}
.button-wrapper {
  margin-top: -10%;
  background-color: rgba($color: $pink, $alpha: 0.2);
  width: 20px;
  height: 20px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
  padding: 25px;
  border-radius: 100%;
  box-shadow: $pink-shadow;
  border: 3px solid $pink;
  cursor: pointer;
  .music-icon {
    color: white;
    font-size: 22px;
  }
}
