.hero {
  width: 100%;
  height: 100vh;
  background-image: url('../assets/images/header.jpg');
  background-size: cover;
  background-position: 0 -150px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  object {
    max-width: 65%;
    margin-bottom: 15%;
  }
}