.hero {
  width: 100%;
  height: 100vh;
  background-image: url('../assets/images/header2.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  object {
    max-width: 65%;
    margin-bottom: 25%;
  }
  .button-wrapper {
    margin-top: -10%;
    background-color: rgba($color: $pink, $alpha: .2);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 25px;
    left: 25px;
    position: fixed;
    z-index: 1000000;
    padding: 25px;
    border-radius: 100%;
    box-shadow: $pink-shadow;
    border: 3px solid $pink;
    cursor: pointer;
    .music-icon {
      color: white;
      font-size: 22px;
    }
  }
}
