@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,800');

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

$blue-dark: #121524;
$pink: #f8228d;

body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: $blue-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}
.title-image {
  max-width: 205px;
  position: absolute;
  top: 0;
  left: 0;
}
.section {
  position: relative;
  min-height: 350px;
  max-width: 1300px;
  margin: 0 auto;
}

button {
  border-width: 3px;
  border-radius: 3px;
  border-style: solid;
  border-color: $pink;
  background-color: transparent;
  color: white;
  padding: 15px 35px;
  margin: 25px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 16px;
  outline: none;
  box-shadow: 0 0 15px $pink;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px $blue-dark, 0 0 20px $blue-dark, 0 0 30px $blue-dark, 0 0 40px $pink,
      0 0 70px $pink, 0 0 80px $pink, 0 0 100px $pink, 0 0 150px $pink;
  }
  to {
    text-shadow: 0 0 5px $blue-dark, 0 0 10px $blue-dark, 0 0 15px $blue-dark, 0 0 20px $pink,
      0 0 35px $pink, 0 0 40px $pink, 0 0 50px $pink, 0 0 75px $pink;
  }
}

@import 'header.scss';
@import 'hero.scss';
@import 'about.scss';
@import 'footer.scss';
@import 'skills.scss';
