@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,800');

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

$blue-dark: #121524;
$pink: #f8228d;
$pink-hot: #ff00b4;
$pink-shadow: 0 0 15px rgba($color: $pink, $alpha: 0.5);


// helper classes
.uppercase {
  text-transform: uppercase;
}
// global styles
.title-image {
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
}
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: $blue-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.separator {
  width: 50%;
  height: 350px;
  background-image: linear-gradient(
    to top right,
    $blue-dark,
    $blue-dark 50%,
    transparent 50%,
    transparent
  );
  position: absolute;
  top: -350px;
  left: 0;
}
.separator.reverse {
  transform: rotate(180deg);
  background-image: linear-gradient(
    to bottom right,
    $blue-dark,
    $blue-dark 50%,
    transparent 50%,
    transparent
  );
  left: inherit;
  right: 0;
}
.separator.full {
  width: 100%;
  background-image: linear-gradient(
    to top left,
    $blue-dark,
    $blue-dark 50%,
    transparent 50%,
    transparent
  );
  height: 700px;
  top: 0;
  transform: rotate(180deg);
}
.separator.full.bottom {
  background-image: linear-gradient(
    to bottom left,
    $blue-dark,
    $blue-dark 50%,
    transparent 50%,
    transparent
  );
  bottom: 0;
  top: initial;
}
a {
  text-decoration: none;
}
.section {
  min-height: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-wrapper {
  position: relative;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy-wrapper {
  text-align: center;
  width: 50%;
}
button {
  border-width: 3px;
  border-radius: 3px;
  border-style: solid;
  border-color: $pink;
  background-color: transparent;
  color: white;
  padding: 15px 35px;
  margin: 25px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 16px;
  outline: none;
  box-shadow: $pink-shadow;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
  cursor: pointer;
  transition: ease-in-out 1.5s;
  background-color: $blue-dark;
  &:hover {
    box-shadow: 0 0 45px rgba($color: $pink-hot, $alpha: 1);
    transition: ease-in-out 1.5s;
  }
}
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px $blue-dark, 0 0 20px $blue-dark, 0 0 30px $blue-dark,
      0 0 40px $pink, 0 0 70px $pink, 0 0 80px $pink, 0 0 100px $pink,
      0 0 150px $pink;
  }
  to {
    text-shadow: 0 0 5px $blue-dark, 0 0 10px $blue-dark, 0 0 15px $blue-dark,
      0 0 20px $pink, 0 0 35px $pink, 0 0 40px $pink, 0 0 50px $pink,
      0 0 75px $pink;
  }
}
@import 'header.scss';
@import 'hero.scss';
@import 'about.scss';
@import 'footer.scss';
@import 'skills.scss';
@import 'contact.scss';
@import 'work.scss';
