* {
  box-sizing: border-box;
  font-family: sans-serif;
}

$blue-dark: #121524;

body {
  background-color: $blue-dark;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

@import 'header.scss';
@import 'hero.scss';